@* Generator : Template TypeVisibility : Internal *@
@using System
@using HexRegex
@using System.Web.Script.Serialization
@functions  {
    public HexRegexCrossword Model { get; set; }
}
<html>
    <head>
        <style type="text/css">
            
            body {
                overflow-x: hidden;
            }

            #container {
                position: relative;
            }

            .hexagon, .clue {
                display: block;
                padding: 0;
                height: 2em;
                line-height: 2em;
                position: absolute;
            }
            
            .hexagon {
                text-align: center;
                overflow: hidden;
                font-size: 16px;
            }

            .clue {
                text-align: right;
                width: 20em;
                padding-right: 20em;
                font-size: 18px;
            }

            .clue.x {
                transform: rotate(240deg);
                -webkit-transform: rotate(240deg);
            }

            .clue.y {
                transform: rotate(120deg);
                -webkit-transform: rotate(120deg);
            }

            .clue.current span {
                background-color: #b3d4fc;
            }

            .clue.current.changed span {
                background-color: #25649F;
                color: white;
            }

            #controls {
                position: absolute;
            }
        </style>
        <script type="text/javascript" src="file:///C:/Documents%20and%20Settings/rtb/Documents/personal/src/regex-crossword/RegexCrossword/RegexCrossword/bin/Debug/lib/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="file:///C:/Documents%20and%20Settings/rtb/Documents/personal/src/regex-crossword/RegexCrossword/RegexCrossword/bin/Debug/lib/jquery.quickfit.js"></script>
        <script type="text/javascript">
            // use axial coords http://www.redblobgames.com/grids/hexagons/
            // hexes involved are those for which x,y,z all in [-6,6]
            // always have x + y + z = 0

            var solveLog = @(new JavaScriptSerializer().Serialize(Model.SolveLog));
            var solveLogIdx = -1; // just before the start

            @{ var firstX = true; }
            var hexDataByQR = {
            @for (int x = -6; x <= 6; x++)
            {
                <text>@(firstX ? "" : ",") "@x":{</text>
                firstX = false;
                var firstZ = true;
                for (int y = -6; y <= 6; y++)
                {
                    var z = 0 - x - y;
                    if (Math.Abs(z) <= 6)
                    {
                        <text>@(firstZ ? "" : ",") "@z" : "@x,@z"</text>
                        firstZ = false;
                    }
                }
                <text>}</text>
            }
            };
            var cluesByAxisIdx = {
                @for (var axis = 'X'; axis <= 'Z'; axis++) {
                    <text>@(axis == 'X' ? "" : ",")"@axis":{</text>
                    for (var idx = -6; idx <= 6; idx++) {
                         <text>@(idx == -6 ? "" : ",")"@idx":"@Model.Clues[axis - 'X',idx + 6]"</text>
                    }
                    <text>}</text>
                }
            };

            var SQRT_3 = Math.sqrt(3);
            // SIZE is the edge length of a single hex
            var SIZE = 25;
            var CENTRE_X = SIZE * 18;
            var CENTRE_Y = CENTRE_X;

            var hexCornerOffsets = [];
            for (var i = 0; i <= 6; i++) {
                var angle = 2 * Math.PI / 6 * (i + 0.5);
                var x_i = SIZE * Math.cos(angle);
                var y_i = SIZE * Math.sin(angle);
                hexCornerOffsets[i] = { 'x': x_i, 'y': y_i };
            }

            function hexQRtoPixelXY(q, r) {
                var x = CENTRE_X + (SIZE * SQRT_3 * (q + r / 2.0));
                var y = CENTRE_Y + (SIZE * 3.0 / 2.0 * r);
                return { "x": x, "y": y };
            }
            
            // See HexRegexCrossword.AxisIdxOffsetToQR
            function axisIdxOffsetToQR(axis, idx, offset) {
                var q, r;
                if (axis == 'X') {
                    q = idx;
                    r = Math.min(6, 6 - idx);
                    r -= offset;
                } else if (axis == 'Y') {
                    q = Math.min(6, 6 - idx);
                    r = Math.max(-6, - 6 - idx);
                    q -= offset;
                    r += offset;
                } else { // axis == 'Z'
                    q = Math.max(-6, -6 - idx);
                    r = idx;
                    q += offset;
                }
                return { q: q, r: r };
            }

            function historyBack() {
                if (solveLogIdx <= 0) {
                    alert('Already at the start');
                } else {
                    revertStep(solveLog[solveLogIdx]);
                    showStep(solveLog[--solveLogIdx]);
                }
            }

            function historyForward() {
                if (solveLogIdx + 1 >= solveLog.length) {
                    alert('Already at the end');
                } else {
                    showStep(solveLog[++solveLogIdx]);
                }
            }

            $(document).keypress(function(event) {
                if (event.which == 39) {
                    event.preventDefault();
                    historyForward();
                } else if (event.which == 37) {
                    event.preventDefault();
                    historyBack();
                }
            });

            function showStep(step) {
                console.log(step);

                $('.clue').removeClass('current changed');

                // {"InspectedAxis":"X","InspectedIdx":-6,"NewRowValue":".......","Changed":false}
                var clue = cluesByAxisIdx[step.InspectedAxis][step.InspectedIdx];
                clue.addClass('current');
                if (step.Changed) clue.addClass('changed');

                var cells = step.NewRowValue.match(/\.|\[[^\]]*\]|[A-Z]/g);

                // store the old cells, if necessary, to support the back button:
                var storeOldValues = false;
                if (!step.OldRowValues) {
                    step.OldRowValues = [];
                    storeOldValues = true;
                }
                
                // now iterate along the clue axis and update the letter
                for (var offset = 0; offset < cells.length; offset++) {
                    var qr = axisIdxOffsetToQR(step.InspectedAxis, step.InspectedIdx, offset);
                    var cell = hexDataByQR[qr.q][qr.r];

                    var oldVal = cell.text();
                    var newVal = cells[offset];

                    if (storeOldValues) {
                        step.OldRowValues[offset] = oldVal;
                    }

                    if (oldVal !== newVal) {
                        console.log("Cell q = " + qr.q + ", r = " + qr.r + " changed from '" +
                            oldVal + "' to '" + newVal + "'");

                        cell.text(newVal);
                        cell.quickfit();
                    }
                }
            }

            function revertStep(step) {
                for (var offset = 0; offset < step.OldRowValues.length; offset++) {
                    var qr = axisIdxOffsetToQR(step.InspectedAxis, step.InspectedIdx, offset);
                    var cell = hexDataByQR[qr.q][qr.r];
                    var newVal = step.OldRowValues[offset];
                    if (cell.text() !== newVal) {
                        cell.text(newVal);
                        cell.quickfit();
                    }
                }
            }

            // The following code sets up the UI
            $(function () {
                var container = $('#container');
                var canvas = document.getElementById("canvas").getContext('2d');
                $.each(hexDataByQR, function (q, rs) {
                    q = q - 0;
                    $.each(rs, function (r, val) {
                        r = r - 0;
                        var xy = hexQRtoPixelXY(q, r);

                        var div = $("<div />")
                            .addClass('hexagon')
                            .attr('title', val);
                        container.append(div);
                        div.width(SQRT_3 * SIZE);
                        div.css({ top: xy.y - div.height() / 2, left: xy.x - div.width() / 2 });
                        hexDataByQR[q][r] = div;

                        canvas.beginPath();
                        canvas.moveTo(xy.x + hexCornerOffsets[0].x, xy.y + hexCornerOffsets[0].y);
                        for (var i = 1; i <= 6; i++) {
                            canvas.lineTo(xy.x + hexCornerOffsets[i].x, xy.y + hexCornerOffsets[i].y);
                        }
                        canvas.stroke();
                    });
                });
                $.each(cluesByAxisIdx, function (axis, cluesByIdx) {
                    $.each(cluesByIdx, function (idx, clue) {
                        idx = idx - 0;
                        var div = $("<div />")
                            .addClass("clue")
                            .addClass(axis)
                            .append($('<span />').text(clue))
                        container.append(div);

                        // if axis == x
                        // x,y,z here are hex cube coords
                        var x = idx;
                        var y = Math.max(-6, - 6 - x) - 0.7;  // min y for x == idx, dec 0.7 to move out of grid
                        var z = - x - y; // fixed

                        var tmp;
                        if (axis == 'Y') {
                            tmp = y;
                            y = x;
                            x = z;
                            z = tmp;
                        } else if (axis == 'Z') {
                            tmp = z;
                            z = x;
                            x = y;
                            y = tmp;
                        }

                        // xy is pixel coords
                        var xy = hexQRtoPixelXY(x, z);

                        div.css({ top: xy.y - div.height() / 2, left: xy.x - div.width() });
                        cluesByAxisIdx[axis][idx] = div;
                    });
                });
                
                var xy = hexQRtoPixelXY(-6, 9);
                var controls = $('#controls');
                controls.css({ top: xy.y, left: xy.x - controls.width() });
            });
        </script>
    </head>
    <body>
        <div id="container">
            <canvas id="canvas" width="1000" height="1000"></canvas>
            <div id="elts"></div>
            <div id="controls">
                <button onClick="historyBack()" title="Go one step back">&#x21E6;</button>
                <button onClick="historyForward()" title="Go one step forward">&#x21E8;</button>
            </div>
        </div>
    </body>
</html>
